body {
    background-color: white;
}
#profile-wrapper{
    text-align: center;
    background-color: rgba(176, 182, 185, 0.15);
}
#profile{
    width: 193px;
    height: 189px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

