
<!DOCTYPE html>
<html lang="en">
<head>
    <title>ResumeWebsite</title>
    <link href="/staticfiles/css/main.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-body h-100 " id="profile-wrapper">
                    <img id="profile" src="/staticfiles/images/fotocurriculo.jpg" alt="profile" >
                    <hr>
                    <h4>Helena Teixeira</h4>
                    <p>Undergraduate Student</p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-body h-100 ">
                    <h4>Who am I and what are my goals</h4>
                    <hr>
                    <div id = "about">
                        <p>Undergratuated student at Instituto Superior Técnico in Information Systems and Computer Engineering looking for new experiences to develop skills and to be in constant learning.</p>
                        <p>I pride myself on being creative and eager to create. I am a member of Orquestra Académica da Universidade de Lisboa and I participate in dance competitions(Dance World Cup).</p>
                        <p> Music, dance and coding are my passions.</p>
                    </div>
                    <ul class="info">
                        <li><span class="material-icons">call</span> 934062171 </li>
                        <li><span class="material-icons">location_city</span> Barcarena, Lisboa, Portugal</li>
                        <li><span class="material-icons">email</span> helena.teixeira@tecnico.ulisboa.pt</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-8">
                <div class="card card-body h-100" >
                    <h4>My experience</h4>
                    <hr>
                    <ul class="timeline">
                        <li>
                            <a href="http://set.ist.utl.pt/"><img id="set" src="/staticfiles/images/logo_Azul.png" alt="set" style="width: 40px;"></a><h6>Collaborator at SET's marketing team and presenter</h6>
                            <h6 class="float-right">October, 2019 - March, 2020</h6>
                            <p>
                                I was a member of the SET(Semana Empresarial Tecnológica) convention marketing's team. I did instagram and facebook posts to promote the tech companies the attended the event and was responsible for the giveaways.
                                I was also the presenter of the talks given by the companies during the week that the event took place.
                            </p>
                        </li>
                        <li>
                            <a href="http://igniteist.tecnico.ulisboa.pt/?fbclid=IwAR1xAv9EkTn4reIussjuIjwst4t2oQ8x8VHgJfqBky008DlrCVILfazo9a4"><img id="ignite" src="/staticfiles/images/logo.png" alt="ignite" style="width: 40px;"></a><h6>Collaborator at Ignite IST's logistics team</h6>
                            <h6 class="float-right">January 2019 - March, 2020</h6>
                            <p>
                                I was a member of the IgniteIST event logistics team, responsible for contacting possible sponsors for the event and responsible for all the logistics for the day of the event.
                                Unfortunately due to Covid the event was postponed.
                            </p>
                        </li>
                        <li>
                            <h6>Mentor at Instituto Superior Técnico </h6>
                            <h6 class="float-right">September, 2019 - Present</h6>
                            <p>
                                Responsible for organizing the "welcome week" for new students in the 1st year of my course.
                                I have been assigned X students that I accompany throughout the year giving all the support they need in college.
                            </p>
                        </li>
                        <li>
                                <a href="https://websummit.com/"><img id="websummit" src="/staticfiles/images/Web-Summit.jpg" alt="websummit" style="width: 40px;" ></a><h6>Volunteer at WebSummit</h6>
                                <h6 class="float-right">October, 2019</h6>
                                <p>
                                    WebSummit volunteer assigned to help any attendee who needed referrals.
                                    I had the opportunity to listen to leaders of very interesting technology companies and to connect with top companies.
                                </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-body h-100">
                    <h4>My skills</h4>
                    <hr>
                    <div class="card mb-3" style="max-width: 18rem;">
                        <div class="card-header"><h6>Python</h6><img src="/staticfiles/images/python.png" alt="python" style="width: 20px;"></div>
                        <div class="card-body text-dark">
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 18rem;">
                        <div class="card-header"><h6>Java</h6><img src="/staticfiles/images/java.png" alt="java" style="width: 20px;"></div>
                        <div class="card-body text-dark">
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">star_border</span>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 18rem;">
                        <div class="card-header"><h6>C++</h6><img src="/staticfiles/images/c++.png" alt="c++" style="width: 20px;"></div>
                        <div class="card-body text-dark">
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">star_border</span>
                            <span class="material-icons">star_border</span>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 18rem;">
                        <div class="card-header"><h6>C</h6><img src="/staticfiles/images/c.png" alt="C" style="width: 20px;"></div>
                        <div class="card-body text-dark">
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">star_border</span>
                            <span class="material-icons">star_border</span>
                            <span class="material-icons">star_border</span>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 18rem;">
                        <div class="card-header"><h6>HTML5+CSS</h6><img src="/staticfiles/images/htmlcss.png" alt="htmlcss" style="width: 20px;"></div>
                        <div class="card-body text-dark">
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">star_border</span>
                            <span class="material-icons">star_border</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>My projects  <a href="https://github.com/HelenaTeixeira"><img id="githubmark" src="/staticfiles/images/GithubMark.png" alt="githubmark" ></a></h4>
                    <hr>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>My education</h4>
                    <hr>
                    <ul class="timeline">
                        <li>
                            <h6>Third year in Information Systems and Computer Engineering's degree at Instituto Superior Técnico</h6>
                            <h6 class="float-right">2018 - Present</h6>
                            <p>
                                Course that approaches the physics and mathematics belonging to the engineering curriculum.
                                It addresses the various aspects of computer science from algorithms to computer architecture, operating systems, databases, artificial intelligence, programming for objects, interfaces, etc.
                            </p>
                        </li>
                        <li>
                            <h6>Music/Instrument(violin) at Escola de Música Nossa Senhora do Cabo</h6>
                            <h6 class="float-right">2006 - 2018</h6>
                            <p>
                                Completed the course with distinction.
                                Made me develop a different set of skills, such as communicating with an audience,time management and the value of team work and cooperation.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
    </div>
</body>
</html>