
<!DOCTYPE html>
<html lang="en">
<head>
    <title>ResumeWebsite</title>
    <link href="/staticfiles/css/main.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-body h-100 " id="profile-wrapper">
                    <img id="profile" src="/staticfiles/images/fotocurriculo.jpg" alt="profile" >
                    <hr>
                    <h4>Helena Teixeira</h4>
                    <p>Undergraduate Student</p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-body h-100 ">
                    <h4>Who am I and what are my goals</h4>
                    <hr>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-8">
                <div class="card card-body h-100" >
                    <h4>My experience</h4>
                    <hr>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-body h-100">
                    <h4>My skills</h4>
                    <hr>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>My projects</h4>
                    <hr>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>My education</h4>
                    <hr>
                </div>
            </div>
        </div>
        <br>
    </div>
</body>
</html>