
<!DOCTYPE html>
<html lang="en">
<head>
    <title>ResumeWebsite</title>
    <link href="/staticfiles/css/main.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-body h-100 " id="profile-wrapper">
                    <img id="profile" src="/staticfiles/images/fotocurriculo.jpg" alt="profile" >
                    <hr>
                    <h4>Helena Teixeira</h4>
                    <p>Undergraduate Student</p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-body h-100 ">
                    <h4>Who am I and what are my goals</h4>
                    <hr>
                    <div id = "about">
                        <p>Undergratuated student in Information Systems and Computer Engineering looking for new experiences to develop skills and to be in constant learning.</p>
                    </div>
                    <ul class="info">
                        <li><span class="material-icons">call</span> 934062171 </li>
                        <li><span class="material-icons">location_city</span> Barcarena, Lisboa, Portugal</li>
                        <li><span class="material-icons">email</span> helena.teixeira@tecnico.ulisboa.pt</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-8">
                <div class="card card-body h-100" >
                    <h4>My experience</h4>
                    <hr>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-body h-100">
                    <h4>My skills</h4>
                    <hr>
                    <div class="card mb-3" style="max-width: 18rem;">
                        <div class="card-header"><h6>Python</h6><img src="/staticfiles/images/python.png" alt="python" style="width: 20px;"></div>
                        <div class="card-body text-dark">
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 18rem;">
                        <div class="card-header"><h6>Java</h6><img src="/staticfiles/images/java.png" alt="java" style="width: 20px;"></div>
                        <div class="card-body text-dark">
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">star_border</span>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 18rem;">
                        <div class="card-header"><h6>C++</h6><img src="/staticfiles/images/c++.png" alt="c++" style="width: 20px;"></div>
                        <div class="card-body text-dark">
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">star_border</span>
                            <span class="material-icons">star_border</span>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 18rem;">
                        <div class="card-header"><h6>C</h6><img src="/staticfiles/images/c.png" alt="C" style="width: 20px;"></div>
                        <div class="card-body text-dark">
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">star_border</span>
                            <span class="material-icons">star_border</span>
                            <span class="material-icons">star_border</span>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 18rem;">
                        <div class="card-header"><h6>HTML5+CSS</h6><img src="/staticfiles/images/htmlcss.png" alt="htmlcss" style="width: 20px;"></div>
                        <div class="card-body text-dark">
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">grade</span>
                            <span class="material-icons">star_border</span>
                            <span class="material-icons">star_border</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>My projects  <a href="https://github.com/HelenaTeixeira"><img id="githubmark" src="/staticfiles/images/GithubMark.png" alt="githubmark" ></a></h4>
                    <hr>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>My education</h4>
                    <hr>
                </div>
            </div>
        </div>
        <br>
    </div>
</body>
</html>